# ntp.conf: Managed by ansible.
#
# Keep ntpd from panicking in the event of a large clock skew
# when a VM guest is suspended and resumed.
tinker panic 0

# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict -6 ::1

{% for server in ntp_servers %}
server {{ server }} iburst
{% endfor %}

{% if ntp_server_prefer is defined and ntp_server_prefer %}
server {{ ntp_server_prefer }} prefer
{% endif %}

# Driftfile.
driftfile /var/lib/ntp/drift
