version: '3.6'
services:
  appcara-prometheus:
    image: "{{ appcara_prometheus_image }}:{{ appcara_prometheus_version }}"
    tty: true
    networks:
      - {{ appcara_prometheus_network }}
    volumes:
      - /etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - /etc/prometheus/file_sd:/etc/prometheus/file_sd
      - prometheus-data:/prometheus
    command:
{% for option, option_value in appcara_prometheus_options.items() %}
      - '--{{ option }}{% if option_value %}={{ option_value }}{% endif %}'
{% endfor %}
    logging:
      driver: syslog
      options:
        tag: "{{ '{{' }}.DaemonName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}"
    ports:
      - target: 9090
        published: {{ appcara_prometheus_port }}
        protocol: tcp
    deploy:
      replicas: {{ appcara_prometheus_replicas }}
      update_config:
        parallelism: 1
        delay: {{ appcara_prometheus_update_delay }}
        order: {{ appcara_prometheus_update_order }}
    healthcheck:
      test: nc -z localhost 9090
      interval: 1m
      timeout: 30s
      retries: 3
      start_period: 1m30s
    environment:
      - TZ={{ ntp_timezone }}
      - http_proxy={{ docker_http_proxy | default("") }}
      - https_proxy={{ docker_https_proxy | default("") }}
      - no_proxy={{ docker_no_proxy | default("127.0.0.1,localhost") }}

{% if appcara_prometheus_volumes is defined %}
volumes:
{%   for data in appcara_prometheus_volumes|default([]) %}
  {{ data.volume.name }}:
{%     if data.volume.driver is defined %}
    driver: {{ data.volume.driver }}
{%       if data.volume.driver_opts is defined %}
    driver_opts:
{%         for key, value in data.volume.driver_opts.items() %}
      {{ key }}: {{ value }}
{%         endfor %}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}

networks:
  {{ appcara_prometheus_network }}:
    external: true
