version: '3.6'
services:
  appcara-blackbox:
    image: "{{ appcara_blackbox_image }}:{{ appcara_blackbox_version }}"
    tty: true
    networks:
      - {{ appcara_blackbox_network }}
    volumes:
      - /etc/blackbox-exporter/config.yml:/etc/blackbox-exporter/config.yml
    command:
      - '--config.file=/etc/blackbox-exporter/config.yml'
    logging:
      driver: syslog
      options:
        tag: "{{ '{{' }}.DaemonName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}"
    ports:
      - target: 9115
        published: {{ appcara_blackbox_port }}
        protocol: tcp
    deploy:
      replicas: {{ appcara_blackbox_replicas }}
      update_config:
        parallelism: 1
        delay: {{ appcara_blackbox_update_delay }}
        order: {{ appcara_blackbox_update_order }}
    environment:
      - TZ={{ ntp_timezone }}
      - http_proxy={{ docker_http_proxy | default("") }}
      - https_proxy={{ docker_https_proxy | default("") }}
      - no_proxy={{ docker_no_proxy | default("127.0.0.1,localhost") }}

{% if appcara_blackbox_volumes is defined %}
volumes:
{%   for data in appcara_blackbox_volumes|default([]) %}
  {{ data.volume.name }}:
{%   endfor %}
{% endif %}

networks:
  {{ appcara_blackbox_network }}:
    external: true
