version: '3.6'
services:
  appcara-grafana:
    image: "{{ appcara_grafana_image }}:{{ appcara_grafana_version }}"
    tty: true
    networks:
      - {{ appcara_grafana_network }}
    volumes:
      - /etc/grafana/grafana.ini:/etc/grafana/grafana.ini
      - grafana-data:/var/lib/grafana
    logging:
      driver: syslog
      options:
        tag: "{{ '{{' }}.DaemonName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}"
    ports:
      - target: 3000
        published: {{ appcara_grafana_port }}
        protocol: tcp
    user: root
    deploy:
      replicas: {{ appcara_grafana_replicas }}
      update_config:
        parallelism: 1
        delay: {{ appcara_grafana_update_delay }}
        order: {{ appcara_grafana_update_order }}
    healthcheck:
      test: "curl -s -o /dev/null http://localhost:3000"
      interval: 1m
      timeout: 30s
      retries: 3
      start_period: 1m30s
    environment:
      - GF_INSTALL_PLUGINS=grafana-azure-monitor-datasource
      - TZ={{ ntp_timezone }}
      - http_proxy={{ docker_http_proxy | default("") }}
      - https_proxy={{ docker_https_proxy | default("") }}
      - no_proxy={{ docker_no_proxy | default("127.0.0.1,localhost") }}

{% if appcara_grafana_volumes is defined %}
volumes:
{%   for data in appcara_grafana_volumes|default([]) %}
  {{ data.volume.name }}:
{%     if data.volume.driver is defined %}
    driver: {{ data.volume.driver }}
{%       if data.volume.driver_opts is defined %}
    driver_opts:
{%         for key, value in data.volume.driver_opts.items() %}
      {{ key }}: {{ value }}
{%         endfor %}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}

networks:
  {{ appcara_grafana_network }}:
    external: true
