version: '3.6'
services:
  appcara-snmp:
    image: "{{ appcara_snmp_image }}:{{ appcara_snmp_version }}"
    tty: true
    networks:
      - {{ appcara_snmp_network }}
#    volumes:
#      - /etc/snmp-exporter/config.yml:/etc/snmp-exporter/config.yml
#    command:
#      - '--config.file=/etc/snmp-exporter/config.yml'
    logging:
      driver: syslog
      options:
        tag: "{{ '{{' }}.DaemonName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}"
    ports:
      - target: 9116
        published: {{ appcara_snmp_port }}
        protocol: tcp
    deploy:
      replicas: {{ appcara_snmp_replicas }}
      update_config:
        parallelism: 1
        delay: {{ appcara_snmp_update_delay }}
        order: {{ appcara_snmp_update_order }}
    environment:
      - TZ={{ ntp_timezone }}
      - http_proxy={{ docker_http_proxy | default("") }}
      - https_proxy={{ docker_https_proxy | default("") }}
      - no_proxy={{ docker_no_proxy | default("127.0.0.1,localhost") }}

{% if appcara_snmp_volumes is defined %}
volumes:
{%   for data in appcara_snmp_volumes|default([]) %}
  {{ data.volume.name }}:
{%   endfor %}
{% endif %}

networks:
  {{ appcara_snmp_network }}:
    external: true
